<?php $sel = 3; ?>
<include file="Public/commoner"/>
<block name="body">
    	<ol class="breadcrumb">
			<li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Download/index')}">下载管理</a></li>
            <li>添加下载</li>
		</ol>
        <div class="content">
        	 <div class="Config_nav">
                <ul>
                    <li><a class="on" href="{:U('Download/index')}">下载管理</a></li>
                    <li><a href="{:U('Download/add')}">添加下载</a></li>
                    <li><a href="{:U('Download/index')}">下载评论</a></li>
                    <li><a href="{:U('Download/recycle')}">回收站</a></li>
                </ul>
            </div>
            <form action="{:U('Download/insert')}" method="post" id="form"  enctype="multipart/form-data">     
                <div class="Save">
                    <div id=cpxqcon>
                        <div id="cpxqcontags">
                            <ul id="cpxqtags">
                                <li class="selectTag"><A onClick="selectTag('cpxqtagContent0',this)" href="javascript:void(0)">常规选项</A></li>
                                <li><A onClick="selectTag('cpxqtagContent1',this)" href="javascript:void(0)">SEO设置</A></li>
                                <li><A onClick="selectTag('cpxqtagContent2',this)" href="javascript:void(0)">附件设置</A></li>
                            </ul>
                        </div>
                        <div id="cpxqtagContent"> 
                            <div class="cpxqtagContent selectTag" id=cpxqtagContent0 style="display:block;">
                                <ul>
                                    <li class="Name">栏目</li>
                                    <li class="input">
                                        <select name="catid">
                                            <option>选择栏目</option>
                                            <foreach name="cate_list" item="vo" key="k" >
                                                <option value="{$vo.catid}" <if condition="$vo['ispart'] eq 1 or $vo['ismodel'] != 4">disabled="disabled"</if>>{:str_repeat("└─",$vo['level'])}{$vo.catname}</option>
                                            </foreach>
                                        </select>
                                    </li>
                                </ul>
                            
                                <ul>
                                    <li class="Name">文章标题</li>
                                    <li class="input"><input class="common-text input-text" name="title" size="40" datatype="*1-100" value=""  type="text"></li>
                                </ul>
                                <ul>
                                    <li class="Name">缩略图</li>
                                    <li class="input">
                                    	<input id="upload_file" type="file">
                                    </li>
                                </ul>
                                <ul>
                                    <li class="Name">来源</li>
                                    <li class="input">
                                       <input name="source" class="common-text input-text" value="本站" size="30" type="text">
                                    </li>
                                </ul>
                                <ul>
                                    <li class="Name">文章简介</li>
                                    <li class="input">
                                       <textarea name="info" class="common-textarea textarea" cols="30" style="width: 50%;" rows="5"></textarea>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="Name">信息内容</li>
                                    <li class="input"><script type="text/plain" id="editor" style="width: 100%;height: 350px;"></script></li>
                                </ul>
                                <ul>
                                    <li class="Name">状态</li>
                                    <li class="input">
										<div class="radio"><span><input type="radio" name="status" value="1" checked="checked"></span><label for="status1">已审核</label></div>
                                        <div class="radio"><span><input type="radio" name="status" value="0"></span><label for="status2">未审核</label></div> 
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="cpxqtagContent" id=cpxqtagContent1>
                                <ul>
                                    <li class="Name">SEO关键词</li>
                                    <li class="input"><input class="common-text input-text" name="keywords" value="" size="50" type="text"></li>
                                </ul>
                                <ul>
                                    <li class="Name">SEO描述</li>
                                    <li class="input"><textarea name="description" class="common-textarea textarea" cols="30" style="width: 50%;" rows="5"></textarea></li>
                                </ul>
                            </div>
                            <div class="cpxqtagContent" id=cpxqtagContent2>
                                <ul>
                                    <li class="Name">上传附件</li>
                                    <li class="input"><input id="upload_gallery"  type="file"></li>
                                </ul>
                                <ul>
                                    <li class="Name">附件大小</li>
                                    <li class="input"><input id="upload_gallery"   type="file"></li>
                                </ul>
                                <ul>
                                    <li class="Name">附件名称</li>
                                    <li class="input"><input id="upload_gallery"   type="file"></li>
                                </ul>
                            </div>
                            <div class="cl" style="height: 10px;"></div>
                            <div class="btn">
                                <input class="btn btn-primary btn6 mr10" name="submit" value="保存后关闭" style="margin-right: 10px;" type="submit"><input class="btn btn-primary btn6 mr10" name="submit_continue" style="margin-right: 10px;" value="保存后继续" type="submit"><input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                            </div>
                        </div>
                    </div>
                </div>    
            </form>           
            <include file="Public:copyright"/>
        </div>
	</black>
<script type="text/javascript">
$(function(){
	$('#upload_file').uploadify({
		'queueSizeLimit'  : 1,
		'swf'             : '__PUBLIC__/User/uploadify.swf',
		'uploader'        : "{:U('Public/uploadAttach',array('session_id'=>session_id(),'type'=>'1'))}",
		'fileObjName'     : $('#upload_file').attr('name'),
		'buttonClass'     : 'upload-case',
		'width'           : 150,
		'height'          : 25,
		'removeTimeout'   : 1,
		'buttonText'      : '上传图片',
		'fileTypeExts'    : '*.gif; *.jpg; *.png;',
		'onUploadSuccess' : function(file, data, response) {
			//var data = $.parseJSON(data);
			var data=eval("("+data+")");
			if(data.status ==0){
				alert('上传出错，请稍后再试');
				return false;
			}
			
			if(data.status==1){           	
				var html = '<div class="cl" style="margin-top: 5px;"></div>'
				html += '<div id="attachment">'+'<span><img src="'+data.file+'"></span>' ;
				html += '<a href="javascript:void(0)" onclick="delete_attachment(this);">删除</a>';
				html += '<input type="hidden" name="thumb" value="'+data.file+'" /></div>';
				$('#upload_file').after(html);
			} else {
				alert('上传出错，请稍后再试');
				return false;
			}
		},
		'onSelect' : function(file) {
			var length = $('#attachment').length;
			if(length > 0){
				$('#upload_file').uploadify('cancel')
				$('#upload_file').uploadify('stop');
				alert('附件只允许上传一个');
				return false;
			}
		}
	});
	 });
	function delete_attachment(e){
		var $this = $(e);
		$this.parent('div').remove();
	}
</script>
<script type="text/javascript" src="__JS__/selectTag/selectTag.js"></script>