<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>{$config.companyname}-后台管理系统</title>
<!--[if lt IE 8]>
<script>
	alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
</script>
<![endif]-->
<link rel="shortcut icon" href="/favicon.ico">
<if condition="$config['pattern'] eq 1">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
<else/>
    <link href="__PUBLIC__/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
    <!-- <link href="__PUBLIC__/assets/libs/nifty-modal/css/component.css" rel="stylesheet" /> -->
    <link href="__PUBLIC__/assets/libs/pace/pace.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/libs/jquery-notifyjs/styles/metro/notify-metro.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/stylebak.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/style-responsive.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/Public/assets/img/apple-touch-icon.png" />
</if>