<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>vip中心</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/screen.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
    <style>
            /*----------tab切换----------*/
        #tabs {
            overflow: hidden;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #tabs li {
            float: left;
            margin: 0;
        }
            #tabs li a {
            position: relative;
            background: #ddd;
            padding: 5px 20px;
            float: left;
            text-decoration: none;
            color: #444;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
            border-radius: 20px 20px 0 0;
            box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
        }

        .current a{
            outline: 0;
            background: #fff;
            z-index: 4;
        }
        .hoverItem a{
            background: #AAC8B9;
        }
        .item{
            display: none;
        }

        .show{
            display: block;
        }

        /*---------弹出层-------------*/
        .modal-content{
            background: #171717;border: 2px solid #6a6a6a;
            overflow: hidden;padding: 20px 0;
        }
        .form-dialog{
            padding: 20px 0 50px;
        }
        .game-table thead tr {
            background: #7c4f26;
        }
        .game-table tbody tr td{ padding: 8px;}

        @media screen and (min-width: 441px) and (max-width: 992px) {
            .vip-bg .vip-liberty-nav ul li{
                width: 200px;height: 200px;margin:0 17px 10px 17px;
            }
            .vip-bg .vip-liberty-nav ul li img.roll {
                width: 120px;height: 120px;
                top: 38px;left: 40px;
            }
        }
        @media screen and (max-width: 640px){
            /*---------搜索狂-----------*/
            .vip-bg .vip-searchs{
                width: 300px;margin: 0 auto;background: url("images/vip-search-box.png")no-repeat;
                height: 50px;top: -20px; background-size: 100% 100%;
            }
            .vip-bg .vip-searchs .search-box{
                position: relative;left: 100px; height: 30px;font-size: 12px;
                top: 10px;width: 120px;float: left;border: 0;outline: 0;
            }
            .vip-bg .vip-searchs .search-btn{
                float: right;position: relative;right: 5px;width: 70px;
                height: 48px;top: 9px;
            }
        }

        @media screen and (max-width: 440px){
            .vip-bg {
                background: #000;
            }
            .vip-bg .vip-step {
                width: 90%;
                height: 100px;
                overflow: hidden;
            }
            .vip-bg .vip-liberty p {
                font-size: 14px;
            }
            .vip-bg .vip-liberty-list p {
                font-size: 14px;
            }
            .vip-bg .vip-liberty-nav ul li{
                width: 150px;height: 150px;
            }
            .vip-bg .vip-liberty-nav ul li img.roll {
                width: 90px;height: 90px;
                top: 28px;left: 30px;
            }
        }
    </style>
</head>
<body>
    <nav class="main-navigation header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="mobile-show"><img src="__PUBLIC__/Home/images/menu%20.png" alt=""></span>
                <div class="navbar-collapse" id="main-menu">
                    <ul class="menu navbar head-nav">
                        <li role="presentation"><a href="/">免费注册</a></li>
                        <li role="presentation"><a href="/">积分商城</a></li>
                        <li role="presentation"><a href="/">抢红包</a></li>
                        <li role="presentation"><a href="/">金管家</a></li>
                        <li role="presentation"><a href="/">优惠大厅</a></li>
                        <li role="presentation"><a href="/">在线客服</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
    <div class="container-fluid vip-banner"></div>
    <div class="container-fluid vip-bg">
        <div class="container">
            <div class="row">
                <div class="vip-searchs">
                    <input class="search-box" type="text" placeholder="点击输入会员账号">
                    <a id="imgok" class="search-btn" role="button" href="#"  data-toggle="modal" data-target="#myModa8">
                      <img src="__PUBLIC__/Home/images/check.png" alt="">
                    </a>
                </div>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModa8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h5 class="col-md-12" style="color: #fff;">查询中心</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="col-md-12">
                                <table class="table game-table" style="margin: 0 0 20px;">
                                    <thead>
                                    <tr>
                                        <th>会员帐号</th>
                                        <th>VIP等级</th>
                                        <th>累总投注金额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                       <td id="name"></td>
                                       <td id="lev"></td>
                                       <td id="money"></td>
                                     </tr>
                                    </tbody>
                                </table>
                                <ul id="tabs">
                                    <li class="current"><a href="#" title="tab1">晋级彩金</a></li>
                                    <li><a href="#" title="tab2">好运金</a></li>
                                </ul>
                                <div id="content">
                                    <div id="tab1" class="item show">
                                        <table class="table game-table" style="margin: 0;">
                                            <thead>
                                            <tr>
                                                <th>会员帐号</th>
                                                <th>VIP等级</th>
                                                <th>晋级彩金</th>
                                                <th>周期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>awz***8</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>1</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="tab2" class="item">
                                        <table class="table game-table" style="margin: 0;">
                                            <thead>
                                            <tr>
                                                <th>会员帐号</th>
                                                <th>当月有效投注</th>
                                                <th>当月好运金</th>
                                                <th>周期</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>awz***8</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>1</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <div class="vip-step col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/vip-step1.png" alt="">
                </div>
            </div>
            <div class="vip-condition table-responsive">
                <table class="col-md-12 table">
                    <tbody>
                    <tr>
                        <td rowspan="2">活动时间</td>
                        <td colspan="2">VIP1晋升条件（满足任意一个即可）</td>
                        <td rowspan="2">VIP1晋级彩金</td>
                        <td rowspan="2">钻石等级</td>
                    </tr>
                    <tr>
                        <td>①:周总有效投注</td>
                        <td>②:周累计总存款</td>
                    </tr>
                    <tr>
                        <td>2018年1月1日起</td>
                        <td>50万+</td>
                        <td>2万+</td>
                        <td>58元</td>
                        <td>每周二：23:00前自动更新</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="vip-step-tips">
                    <p class="col-md-12" style="font-size:14px;">
                        <span id="p" style="font-size:14px;">
                            <a style="color: rgba(255,0,0,1); font-size:14px;">●注：</a>
                        </span>
                        vip1晋级条件每周统计一次（美东时间每周一至周日为统计区间），每周二23点前系统自动更新。
                    </p>
                    <p class="col-md-12" style="font-size:14px;">
                        <span id="p" style="font-size:14px;">
                            <a style="color: rgba(255,0,0,1); font-size:14px;">●例如1：</a>
                            ：新老会员在美东时间1月1日（周一）--1月7日（周日）期间，累计总入款2万+，即可晋升为钻石VIP1，总投注将从1月8日（周一）开始统计计算；
                        </span>
                    </p>
                    <p class="col-md-12" style="font-size:14px;">
                        <span id="p" style="font-size:14px;">
                            <a style="color: rgba(255,0,0,1); font-size:14px;">●例如2：</a>
                            新老会员在美东时间1月1日（周一）--1月7日（周日）期间，总有效投注达到50万+，即可晋升为钻石VIP1，总投注将从1月8日（周一）开始统计计算；
                        </span>
                    </p>
                </div>
                <div class="vip-step col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/vip-step2.png" alt="">
                </div>
                <div class="grow-chart col-md-6 col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/grow-chart.png" alt="">
                </div>
                <div class="vip-liberty">
                    <h1 class="col-md-12 liberty">【钻石VIP特权】</h1>
                    <p class="col-md-12">
                        美东时间2018年1月1日起，您晋升VIP后的每一笔有效投注都将永久累计，当累积到对应标准时，可升级为更高级的钻石VIP。钻石等级越高，不仅可以获得更丰厚的彩金，同时还可以开通更多活动优惠。全民VIP，点亮你的专属星钻，照亮你的尊贵人生。
                    </p>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th>钻石等级</th>
                        <th>VIP1</th>
                        <th>VIP2</th>
                        <th>VIP3</th>
                        <th>VIP4</th>
                        <th>VIP5</th>
                        <th>VIP6</th>
                        <th>VIP7</th>
                        <th>VIP8</th>
                        <th>SVIP</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">晋级标准</td>
                        <td>-</td>
                        <td>10W+</td>
                        <td>100W+</td>
                        <td>500W+</td>
                        <td>5000W+</td>
                        <td>1亿+</td>
                        <td>5亿+</td>
                        <td>10亿+</td>
                        <td>30亿+</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="vip-step-tips">
                    <p class="col-md-12" style="font-size:14px;">
                        <span id="p" style="font-size:14px;">
                            <a style="color: rgba(255,69,70,1); font-size:14px;">●例如：</a>
                            会员初次晋升VIP后，打码量开始累积，数据每周更新，若有效投注达到500万，即可直接晋升为钻石VIP4，可获晋级彩金58+88+188+888=1222元.
                        </span>
                    </p>
                </div>
                <div class="vip-liberty">
                    <h1 class="col-md-12 liberty">【月月好运金】</h1>
                    <p class="col-md-12">
                        钻石VIP每月达到相应的有效投注，月月可得相对应的好运金，等级越高好运金越高，月月最高可得8888元。
                    </p>
                </div>
            </div>
            <div class="vip-condition table-responsive">
                <table class="col-md-12 table">
                    <tbody>
                    <tr>
                        <td>钻石等级</td>
                        <td>每月总有效投注</td>
                        <td>月月好运金</td>
                        <td>派送方式</td>
                    </tr>
                    <tr>
                        <td>VIP1</td>
                        <td>1W+</td>
                        <td>18</td>
                        <td rowspan="3">无需申请，每月截止日期后24小时内系统自动派送</td>
                    </tr>
                    <tr>
                        <td>VIP2</td>
                        <td>3W+</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>VIP3</td>
                        <td>5W+</td>
                        <td>18</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="vip-step-tips">
                    <p class="col-md-12" style="font-size:14px;">
                        <span id="p" style="font-size:14px;">
                            <a style="color: rgba(255,69,70,1); font-size:14px;">●温馨提示：</a>
                            首月好运金统计区间为晋级成功后开始累计至当月最后一个星期日，次日开始累计到下一期，每月最后一个星期日为当月截止日期。
                        </span>
                    </p>
                </div>
                <div class="vip-step col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/vip-step3.png" alt="">
                </div>
                <nav class="nav vip-liberty-nav col-md-12">
                    <ul class="navbar col-md-12">
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic1.png" class="roll">
                        </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic2.png" class="roll">
                        </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic3.png" class="roll">
                            </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic4.png" class="roll">
                        </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic5.png" class="roll">
                            </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic6.png" class="roll">
                                </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic7.png" class="roll">
                                    </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic8.png" class="roll">
                                    </li></div>
                        <div class="p1 col-md-4 col-xs-6"><li class="col-md-4 col-sm-6 col-xs-4">
                            <div></div>
                            <img src="__PUBLIC__/Home/images/con3_pic9.png" class="roll">
                                        </li></div>
                    </ul>
                </nav>
                <div class="vip-step col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/vip-step4.png" alt="">
                </div>
                <div class=" vip-liberty-list">
                    <div>
                        <H4>1. 什么是晋级标准？</H4>
                        <P>会员达到晋级条件后，即可晋升为钻石VIP1，成功晋级后，总有效投注开始累计计算，达到指定标准，即可晋升对应的钻石等级，【钻石等级】将于每周二23：00前自动更新。</P>
                        <H4>2. 什么是晋级彩金？</H4>
                        <P>会员达到活动要求从VIP1晋级到VIP2，即可享受88元晋级彩金，晋级彩金将于北京时间每周二23：00钻石等级更新完毕后，系统自动派送，晋级彩金可以累积计算。</P>
                        <H4>3. 什么是月月好运金？</H4>
                        <P>会员晋级钻石VIP1后，每月达到相应打码量即可获得相应的好运金奖励，每月截止日期后24小时内系统自动派送，月月最高可达8888元。</P>
                        <H4>4. 什么是免费筹码？</H4>
                        <P>会员晋升为钻石VIP5后，月月都可以免费享受到免费筹码，等级越高筹码越多，最高每月可达18888元，符合的会员点击活动大厅申请即可。</P>
                        <H4>5. 什么是生日礼金？</H4>
                        <P>会员晋升钻石VIP4后，即可享有每年一次的生日彩金，等级越高奖金越高，最高可达8888元，符合条件的会员，可提供会员账号、真实姓名，身份证号，和本人”手持身份证正反面“清晰合体照片，发送邮箱至会员邮箱：发送邮件至9599hy@gmail.com申请即可。（生日以身份证日期为准）</P>
                        <H4>6. 什么是VIP专属域名？</H4>
                        <P>会员晋升钻石VIP1后，即可享为您量身定制的只属于您自己的VIP专属登录本站的网址，达到条件的会员发到邮件到指定邮箱或对应客服经理申请即可。</P>
                        <H4>7. 什么是VIP客服经理？</H4>
                        <P>会员晋升钻石VIP5后，即可享有独立的一对一专属VIP服务通道。</P>
                        <H4>8. 彩金自动派送权限</H4>
                        <P>会员晋升钻石VIP5后，即可享受更优质的服务，闯关彩金、救援金、捕鱼闯关彩金、捕鱼亏损盈利彩金、全勤奖，无需申请，专员自动审核派送。</P>
                        <H4>9. 什么是月盈利/亏损？</H4>
                        <P>会员晋升钻石VIP6后，月盈利20万+，即可获得1%的鼓励金,最高8888元，月亏损20万+，即可获得2%的转运金,最高28888元，符合条件的会员点击活动大厅申请即可。</P>
                        <H4>10. 什么是年终奖？</H4>
                        <P>会员晋升钻石VIP7后，每年都可享受到年终分红奖励，等级越高分红越高，最高可达88888元。</P>
                    </div>
                </div>
                <div class="vip-step col-md-offset-3">
                    <img src="__PUBLIC__/Home/images/vip-step5.png" alt="">
                </div>
                <div class="vip-liberty-list">
                    <div>
                        <p><label>1.</label>所有优惠彩金只需一倍流水即可出款；</p>
                        <p><label>2.</label>所有优惠以人民币(CNY)为结算金额，以美东时间(EDT)为计时区间；</p>
                        <p><label>3.</label>每位玩家﹑每户﹑每一住址 、每一电子邮箱地址﹑每一电话号码﹑相同支付方式(相同借记卡/信用卡/银行账户) 及IP地址只能享有一次优惠；若会员有重复 申请账号行为，公司保留取消或收回会员优惠彩金的权利；</p>
                        <p><label>4.</label> 的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行为，公司保留冻结、取消该团体或个人账户及账户结余的权利；</p>
                        <p><label>5.</label> 若会员对活动有争议时，为确保双方利益，杜绝身份盗用行为，有权要求会员向我们提供充足有效的文件，用以确认是否享有该优惠的资质；</p>
                        <p><label>6.</label>当参与优惠会员未能完全遵守、或违反、或滥用任何有关公司优惠或推广的条款，又或我们有任何证据有任何团队或个人投下一连串的关联赌注，籍以造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获利，保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，公司亦保留权利向这些客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本；</p>
                        <p><label>7.</label>保留对活动的最终解释权，以及在无通知的情况下修改、终止活动的权利，适用于所有优惠。</p>
                        <p><label>8.</label>参与钻石VIP系统，即表示您同意《优惠规则与条款》，保留对活动的最终解释权。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function(){
        $('#tabs a').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#content div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs a').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>
<script>
    $(function () {
        $(".mobile-show").click(function () {
            $(".navbar-collapse").toggle(100);
        });
    })
</script>