.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	margin-bottom: 20px;
	width: 100%;
	height: 60px;
	background-color: #000;
}
.header .hd-main {
	margin: 0 auto;
	width: 1000px;
}
.header .logo {
	float: left;
	margin-right: 10px;
}
.header .logo a {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../images/header_logo.png) no-repeat center center;
}
.header .logo a:hover {
	text-decoration: none;
}

/* 主导航 */
.header .main-nav,
.header .main-nav li {
	float: left;
}
.header .main-nav a {
	display: inline-block;
	padding: 0 16px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
}
.header .main-nav a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #444;
}
.header .current a,
.header .current a:hover {
	text-decoration: none;
	background-color: #656565;
}
.header .header-bar {
	float: right;
	margin-top: 16px;
}
