<include file="Public/commoner"/>
<block name="body">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li>用户信息</li>
    </ol>
    <div class="content">
        <div class="Config_nav">
            <ul>
                <li><a class="on" href="{:U('User/index')}">用户信息</a></li>
                <li><a href="{:U('User/group_list')}">会员组管理</a></li>
                <li><a href="{:U('User/group_add')}">会员组添加</a></li>
            </ul>
        </div>
        <div class="Search">
            <form action="" method="get">
                <div class="keyword"><input class="common-text input-text" size="25" placeholder="用户名" name="q" value=""  type="text"></div>
                <div class="btn1"><input class="btn btn-primary btn6 mr10" value="查询" type="submit" /></div>
            </form>
        </div>
        <div class="List">
            <div class="table-list">
                <ul>
                    <li class="ID">ID</li>
                    <li class="Name">用户名</li>
                    <li class="Property">所属会员组</li>
                    <li class="S_Order">积分</li>
                    <li class="Status">状态</li>
                    <li class="Oper">管理操作</li>
                </ul>
            </div>
            <foreach name="user_list" item="vo" key="k" >
                <div class="ProList">
                    <ul>
                        <li class="ID">{$vo.userid}</li>
                        <li class="Name"><a href="{:U('User/edit',array('userid'=>$vo['userid']))}">{$vo.username}</a></li>
                        <li class="Property">{:get_groupname($vo['groupid'])}</li>
                        <li class="S_Order">{$vo.point}</li>
                        <li class="Status"><a href="{:U('User/status',array('userid'=>$vo['userid'],'islock'=>$vo['islock']))}">{$vo[islock] == 1?'正常':'<font color=red>锁定</font>'}</a></li>
                        <li class="Oper">
                            <div>
                                <a href="{:U('User/edit',array('userid'=>$vo['userid']))}">编辑</a>
                                <span>|</span>
                                <a href="{:U('User/delete',array('userid'=>$vo['userid']))}">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </foreach>
            <div class="cl" style="margin-top: 15px;"></div>
            <div class="Order_submit">
                <div class="tp_pages">{$page}</div>
            </div>
        </div>
        <include file="Public:copyright"/>
    </div>
</block>