<?php $sel = 2; ?>
<include file="Public/commoner"/>
<block name="body">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li><a href="{:U('Banner/index')}">幻灯片管理</a></li>
        <li>添加幻灯片</li>
    </ol>
    <div class="content">
        <div class="Config_nav">
            <ul>
                <li><a href="{:U('Banner/index')}">幻灯片管理</a></li>
                <li><a class="on" href="{:U('Banner/add')}">添加幻灯片</a></li>
            </ul>
        </div>
        <form action="{:U('Banner/insert')}" method="post"  id="form" enctype="multipart/form-data" >
            <div class="SiteContent">
                <ul>
                    <li class="Name">类型</li>
                    <li class="input">
                        <select name="cid">
                            <option value="0">PC幻灯片</option>
                            <option value="1">WAP幻灯片</option>
                        </select>
                    </li>
                </ul>
                <ul>
                    <li class="Name">幻灯片名称</li>
                    <li class="input"><input class="common-text input-text" name="name" size="40" type="text"></li>
                </ul>
                <ul>
                    <li class="Name">LOGO</li>
                    <li class="input"><input id="upload_file" type="file"></li>
                </ul>
                <ul>
                    <li class="Name">网址</li>
                    <li class="input"><input class="common-text input-text" name="url" size="40" type="text"></li>
                </ul>
                <ul>
                    <li class="Name">状态</li>
                    <li class="input">
                        <div class="radio"><span><input type="radio" name="ishidden" value="1" ></span><label for="ishidden1">隐藏</label></div>
                        <div class="radio"><span><input type="radio" name="ishidden" value="0" checked="checked"></span><label for="ishidden2">显示</label></div>
                    </li>
                </ul>
                <div class="cl" style="height: 10px;"></div>
                <div class="btn">
                    <input class="btn btn-primary btn6 mr10" value="提交" style="margin-right: 10px;" type="submit">
                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                </div>
            </div>
        </form>           
        <include file="Public:copyright"/>
    </div>
</black>
<script type="text/javascript">
$(function(){
	$('#upload_file').uploadify({
		'queueSizeLimit'  : 1,
		'swf'             : '__PUBLIC__/User/uploadify.swf',
		'uploader'        : "{:U('Public/uploadAttach',array('session_id'=>session_id(),'type'=>'1'))}",
		'fileObjName'     : $('#upload_file').attr('name'),
		'buttonClass'     : 'upload-case',
		'width'           : 150,
		'height'          : 25,
		'removeTimeout'   : 1,
		'buttonText'      : '上传图片',
		'fileTypeExts'    : '*.gif; *.jpg; *.png',
		'onUploadSuccess' : function(file, data, response) {
			//var data = $.parseJSON(data);
			var data=eval("("+data+")");
			if(data.status ==0){
				alert('上传出错，请稍后再试');
				return false;
			}
			if(data.status==1){           	
				var html = '<div class="cl" style="margin-top: 5px;"></div>'
				html += '<div id="attachment">'+'<span><img src="'+data.file+'"></span>' ;
				html += '<a href="javascript:void(0)" onclick="delete_attachment(this);">删除</a>';
				html += '<input type="hidden" name="thumb" value="'+data.file+'" /></div>';
				$('#upload_file').after(html);
			} else {
				alert('上传出错，请稍后再试');
				return false;
			}
		},
		'onSelect' : function(file) {
			var length = $('#attachment').length;
			if(length > 0){
				$('#upload_file').uploadify('cancel')
				$('#upload_file').uploadify('stop');
				alert('附件只允许上传一个');
				return false;
			}
		}
	});
	 });
	function delete_attachment(e){
		var $this = $(e);
		$this.parent('div').remove();
	}
</script>