<include file="Public/commoner"/>
<block name="body">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li><a href="{:U('Admin/auth_list')}">用户组列表</a></li>
        <li>管理员编辑</li>
    </ol>
    <div class="content">
        <div class="Config_nav">
            <ul>
                <li><a class="on" href="{:U('Admin/auth_list')}">用户组列表</a></li>
                <li><a href="{:U('Admin/auth_add')}">用户组添加</a></li>
            </ul>
        </div>
        <form action="{:U('admin/auth_update')}" method="post" id="form"  enctype="multipart/form-data">
        	<input type="hidden" name="id" value="{$detail.id}" />     
            <div class="SiteContent">
                <ul>
                    <li class="Name">用户组名称</li>
                    <li class="input"><input type="text" name="title" class="common-text input-text" size="30" value="{$detail.title}" /></li>
                </ul>
                <ul>
                    <li class="Name">描述</li>
                    <li class="input"><textarea name="info" class="common-textarea textarea" cols="30" style="width: 30%;" rows="5">{$detail.info}</textarea></li>
                </ul>
                <ul>
                    <li class="Name">权限</li>
                    <li class="input">
                    	<div><b>内容管理</b></div>
                    	<div class="cl"></div>
                        <div style="overflow: hidden;">
                            <div class="radio"><span><input type="checkbox" name="category" value="1" <if condition="$detail['category'] eq 1">checked="checked"</if>></span><label for="hotpro1">栏目管理</label></div>
                            <div class="radio"><span><input type="checkbox" name="article" value="1" <if condition="$detail['article'] eq 1">checked="checked"</if>></span><label for="compro2">文章管理</label></div>
                            <div class="radio"><span><input type="checkbox" name="download" value="1" <if condition="$detail['download'] eq 1">checked="checked"</if>></span><label for="compro2">下载管理</label></div>
                            <div class="radio"><span><input type="checkbox" name="jobs" value="1" <if condition="$detail['jobs'] eq 1">checked="checked"</if>></span><label for="compro2">招聘管理</label></div>
                        </div>
                        <div><b>留言管理</b></div>
                    	<div class="cl"></div>
                        <div style="overflow: hidden;">
                            <div class="radio"><span><input type="checkbox" name="guest" value="1" <if condition="$detail['guest'] eq 1">checked="checked"</if>></span><label for="hotpro1">全部留言</label></div>
                            <div class="radio"><span><input type="checkbox" name="newguest" value="1" <if condition="$detail['newguest'] eq 1">checked="checked"</if>></span><label for="compro2">新消息</label></div>
                            <div class="radio"><span><input type="checkbox" name="guestback" value="1" <if condition="$detail['guestback'] eq 1">checked="checked"</if>></span><label for="compro2">已回复</label></div>
                        </div>
                        <div><b>会员管理</b></div>
                    	<div class="cl"></div>
                        <div style="overflow: hidden;">
                        	<div class="radio"><span><input type="checkbox" name="member" value="1" <if condition="$detail['member'] eq 1">checked="checked"</if>></span><label for="hotpro1">会员列表</label></div>
                        </div>
                        <div><b>基本设置</b></div>
                    	<div class="cl"></div>
                        <div style="overflow: hidden;">
                            <div class="radio"><span><input type="checkbox" name="site" value="1" <if condition="$detail['site'] eq 1">checked="checked"</if>></span><label for="hotpro1">基本设置</label></div>
                            <div class="radio"><span><input type="checkbox" name="flink" value="1" <if condition="$detail['flink'] eq 1">checked="checked"</if>></span><label for="compro2">友情链接</label></div>
                            <div class="radio"><span><input type="checkbox" name="banner" value="1" <if condition="$detail['banner'] eq 1">checked="checked"</if>></span><label for="compro2">幻灯片管理</label></div>
                            <div class="radio"><span><input type="checkbox" name="cache" value="1" <if condition="$detail['cache'] eq 1">checked="checked"</if>></span><label for="compro2">清理缓存</label></div>
                        </div>
                        <div><b>数据库管理</b></div>
                    	<div class="cl"></div>
                        <div style="overflow: hidden;">
                            <div class="radio"><span><input type="checkbox" name="dbak" value="1" <if condition="$detail['dbak'] eq 1">checked="checked"</if>></span><label for="hotpro1">数据备份</label></div>
                            <div class="radio"><span><input type="checkbox" name="import" value="1" <if condition="$detail['import'] eq 1">checked="checked"</if>></span><label for="compro2">数据还原</label></div>
                        </div>
                    </li>
                </ul>
                <div class="cl" style="height: 10px;"></div>
                <div class="btn">
                    <input class="btn btn-primary btn6 mr10" name="submit" value="修改" style="margin-right: 10px;" type="submit"><input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                </div>
            </div>
        </form>           
        <include file="Public:copyright"/>
    </div>
</block>