<include file="Public/commoner"/>
<block name="body">
    	<ol class="breadcrumb">
			<li><a href="{:U('Index/index')}">首页</a></li>
            <li>操作记录</li>
		</ol>
        <div class="content">
			<div class="Config_nav">
                <ul>
                    <li><a class="on" href="{:U('Action/index')}">操作记录</a></li>
                </ul>
            </div>
            <div class="SiteContent">
                <ul>
                    <li class="Name">操作用户</li>
                    <li class="input">{:get_nickname($detail['user_id'])}</li>
                </ul>
                <ul>
                    <li class="Name">执行Ip</li>
                    <li class="input">{:long2ip($detail['action_ip'])}</li>
                </ul>
                 <ul>
                    <li class="Name">执行表</li>
                    <li class="input">{$detail.model}</li>
                </ul>
                <ul>
                    <li class="Name">执行时间</li>
                    <li class="input">{$detail.create_time|date="Y-m-d H:i:s",###}</li>
                </ul>
                <ul>
                    <li class="Name">备注</li>
                    <li class="input">{$detail.remark}</li>
                </ul>

                <div class="cl" style="height: 10px;"></div>
                <div class="btn">
                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                </div>
            </div>
            <include file="Public:copyright"/>
        </div>
</block>