<include file="Public/commoner"/>
<block name="body">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li>用户信息</li>
    </ol>
    <div class="content">
        <div class="Config_nav">
            <ul>
                <li><a href="{:U('User/index')}">用户信息</a></li>
                <li><a class="on" href="{:U('User/group_list')}">会员组管理</a></li>
                <li><a href="{:U('User/group_add')}">会员组添加</a></li>
            </ul>
        </div>
        <form action="{:U('User/sortBatch')}" name="myform" id="myform" method="post">
            <div class="List">
                <div class="table-list">
                    <ul>
                        <li class="ID">ID</li>
                        <li class="Name">会员组</li>
                        <li class="Property">积分</li>
                        <li class="S_Order">排序</li>
                        <li class="Status">状态</li>
                        <li class="Oper">管理操作</li>
                    </ul>
                </div>
                <foreach name="user_list" item="vo" key="k" >
                    <div class="ProList">
                        <ul>
                            <li class="ID">{$vo.groupid}</li>
                            <li class="Name"><a href="{:U('User/group_edit',array('groupid'=>$vo['groupid']))}" target="_blank">{$vo.name}</a></li>
                            <li class="Property">{$vo.point}</li>
                            <li class="S_Order"><input type="text" class="sInput" name="sort[{$vo.groupid}]" value="{$vo.sort}" /></li>
                            <li class="Status">{$vo[status] == 1?'正常':'<font color=red>锁定</font>'}</li>
                            <li class="Oper">
                                <div>
                                    <a href="{:U('User/group_edit',array('groupid'=>$vo['groupid']))}">编辑</a>
                                    <span>|</span>
                                    <a href="{:U('User/group_delete',array('groupid'=>$vo['groupid']))}">删除</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </foreach>
                <div class="cl" style="margin-top: 15px;"></div>
                <div class="Order_submit">
                    <input class="btn btn-primary btn6 mr10" type="submit" value="排序" />
                    <div class="tp_pages">{$page}</div>
                </div>
            </div>
        </form>
    	<include file="Public:copyright"/>
    </div>
</block>